body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}



header {
    background-color: #201397;
    color: white;
    padding: 1em 0;
}

#user-level {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2em;
    color: #9f9fa7;
}

main {
    padding: 2em;
}

#missions {
    margin: 2em 0;
}

.mission {
    background-color: #e7f3e7;
    border: 1px solid #4c8baf;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

button {
    background-color: #485548;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #486b4a;
}
